body{
    padding: 0;
    margin: 0;
    background-color: #9EF01A;
    height:100%;
    width:100%;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    margin:auto;
    justify-content: center;
}

header{
    height: 7%;
    width: 5%;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(216, 213, 213);
    font-size: 50px;
    border: 5px black solid;
    border-radius: 10%;
    text-align: center;
    background-image: url("drzewo.png");
}

.komora{
    width: 50%;
    height: 100%;
    float:left;
}

.main{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}

.info{
    width:50%;
    height:100%;
    font-size:20px;
    display:flex;
    color:white;
    background-color: #006630;
    justify-content:right;
    text-align:right;
    float:right;
    padding-bottom:31.70%;
    font-family:Verdana, Tahoma, sans-serif;
}

.zdjecia{
    width:50%;
    height:100%;
    font-size:20px;
    display:flex;
    color:white;
    background-color: #008000;
    justify-content:right;
    text-align:right;
    float:left;
    padding-bottom:44%;
}

.quiz{
    width:100%;
    display:flex;
    background-color: #9EF01A;
    justify-content:center;
    text-align:justify;
    float:left;
    font-size:40px;
    
}