body{
    padding: 0;
    margin: 0;
    background-color: #9EF01A;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

header{
    height: 7%;
    width: 7%;
    margin-left: 48%;
    display: flex;
    background-color: rgb(216, 213, 213);
    font-size: 50px;
    border: 6px black solid;
    border-radius: 7%;
    text-align: center;
    background-image: url("drzewo.png");
}

.komora{
    width: 100vw;
    height: 100vh;
}